* {
    box-sizing: border-box;
    color: #333;
}

button {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fafafa;
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
    &:active {
        background-color: #aaa;
    }
}