header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    width: 100%;
    height: 100px;

}

.main-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    cursor: default;
}

.sub-title {
    font-size: 14px;
    font-weight: 600;
    cursor: default;
}