.root-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000033;

}

.modal-show {
    display: flex;
}

.modal-layout {
    border: 1px solid #dbdbdb;
    width: 300px;
    background-color: white;

}

.modal-title {
    font-size: 14px;
    font-weight: 600;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    height: 50px;
}

.modal-main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    height: 200px;
}

.todo-input {
    text-align: center;
    outline: none;
    border: 1px solid #dbdbdb;
    padding: 10px;
    width: 100%;
    height: 100%;
    resize: none;
    &:focus {
        background-color: #fafafa;
    }
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.modal-button {
    border: none;
    border-radius: 0px;
    width: 50%;
    height: 100%;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
}

.modal-button:nth-of-type(1) {
    border-radius: 1px solid #dbdbdb;
}